extends layout

block content
  div.container
    div.jumbotron
      h1= title
      p Welcome to #{title}

    div.box-body
      table.table
        tr
          th id
          th Name
          th Code
          th Quantity
          th Color
          th Availability
        tr
          td= product.id
          td= product.name
          td= product.code
          td= product.quantity
          td= product.color
          td= product.isAvailable